window {
    background-color: rgba(30, 30, 46, 0.8);
    border-radius: 20px;
    color: #cdd6f4;
}

/* search entry */
entry {
    background-color: rgba (0, 0, 0, 0.2);
}

button {
    background: none;
    border: none;
    background-color: rgba (0, 0, 0, 0.1);
    box-shadow: none;
    border-radius: 10px;
}

image {
    background: none;
    border: none;
    box-shadow: none;
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1);
}

/* in case you wanted to give category buttons a different look */
#category-button {
    box-shadow: none;
    margin: 0 10px 5px 10px;
    background-color: rgba (0, 0, 0, 0.2);
    border-radius: 10px;
}
#category-button:hover {
    background-color: rgba (255, 255, 255, 0.05);
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px;
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px;
}
