// Catppuccin Mocha Colors
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;

$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;

$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;

$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

window.Bar {
    background-color: rgba(0, 0, 0, 0.5);
    color: $text;
    font-family: Inter;
    font-size: 12px;

    .Separator {
        font-size: 18px;
        color: $surface0;
    }

    .Home {
        button {
            padding: 0px 0px 0px 8px;
            font-size: 22px;
            color: $blue;
            background: none;
            box-shadow: none;
            border: none;
        }
    }

    .Workspaces {
        button {
            padding: 0px 5px;
            background: none;
            box-shadow: none;
            border: none;
        }
        button:hover {
            color: $maroon;
        }
    }

    .SysTray {
        margin-right: 5px;
        button {
            background: none;
            padding: 0px 2px;
            box-shadow: none;
            border: none;
            icon {
                font-size: 18px;
            }
        }
    }

    .SwayNC {
        color: $lavender;
        font-size: 16px;
        padding: 0px 0px 0px 8px;
    }

    .RAM {
        margin: 0px 5px;
        circularprogress {
            color: $peach;
            background-color: $surface0;
            font-size: 3px;
            margin: 2px;
            min-width: 22px;
        }
    }

    .CPU {
        margin: 0px 5px;
        circularprogress {
            color: $blue;
            background-color: $surface0;
            font-size: 3px;
            margin: 2px;
            min-width: 22px;
        }
    }

    .BatteryStatus {
        margin: 0px 5px;
        circularprogress {
            color: $green;
            background-color: $surface0;
            font-size: 3px;
            margin: 2px;
            min-width: 22px;
        }
    }

    .AudioSlider {
        .volume-icon {
            font-size: 14px;
            color: $mauve;
        }
        slider {
            background-color: $overlay0;
        }
        button {
            background: none;
            padding: 0px 0px 0px 10px;
            box-shadow: none;
            border: none;
        }
    }

    .Time {
        padding: 0px 10px 0px 5px;
        font-size: 14px;
    }

    .MediaPlayer {
        background: none;
        margin-left: 5px;

        .cover-art {
            margin-top: 5px;
            margin-bottom: 5px;
            min-width: 32px;
            min-height: 32px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
        }

        .title {
            padding: 0.6rem;
            label {
                margin-right: 0.4rem;
            }
            icon {
                font-size: 14px;
            }
        }

        .controller {
            button {
                background: none;
                box-shadow: none;
                border: none;
                padding: 4px;
                label {
                    font-size: 20px;
                }
            }
        }
    }
}
