* {
    color: #cdd6f4;
}

.index {
    color: transparent;
    background: transparent;
    border: none;
}

.monitor {
    background: transparent;
}

.workspace {
    background: #181825;
    padding: 6px;
}

.client-image {
    background: #1e1e2e;
}

.client {
    padding: 4px;
    background: #181825;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
}

.client_active {
    border: var(--border-size) solid #cba6f7;
}
