window {
    background-color: rgb(30, 30, 46);
    border-radius: 20px;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
    margin: 5px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
    background-color: rgb(24, 24, 37);
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
    border-color: rgba (156, 142, 122, 0.7);
    padding: 5px;
    margin: 5px;
}

button,
image {
    background: none;
    border: none;
    box-shadow: none;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1);
}
