output "DP-3" {
    mode "1920x1080@60"
    position x=0 y=0
    hot-corners {
        top-left
    }
}
output "HDMI-A-1" {
    mode "3840x2160@120"
    variable-refresh-rate
    scale 2
    position x=1920 y=0
    focus-at-startup
    hot-corners {
        off
    }
}
output "DP-2" {
    mode "1920x1080@60"
    position x=3840 y=0
    hot-corners {
        top-right
    }
}
